# Ignore everything by default
/*

# But not these files...
!.gitignore
!starship.toml

# But not these directories ...
!fish
!hypr
!kitty
!nvim
!rofi
!swaync
!waybar
!zed
!zellij

# Keep ignoring
fish/fish_variables
